container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_createsu:
    command: "python manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pixxelated.settings"
    PYTHONPATH: "/opt/python/current/app/pixxelated:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pixxelated/wsgi.py"